{% extends 'base.html' %}
{% block content %}
<form action="/members/{{ member.id }}/update" method="post">
    <h1 class="edit-member">Edit Member</h1>

    <div class="edit-member-border">
      <label class="edit-member-form" for="first_name">First Name:</label>
      <input class="edit-member-form" type="text" id="first_name" name="first_name" value="{{ member.first_name }}" placeholder="First Name" required autofocus>
   
      <label class="edit-member-form" for="last_name">Last Name:</label>
      <input class="edit-member-form" type="text" id="last_name" name="last_name" value="{{ member.last_name }}" placeholder="Last Name" required autofocus>
      
      <label class="edit-member-form" for="age">Age:</label>
      <input class="edit-member-form" type="text" id="age" name="age" value="{{ member.age }}" placeholder="Age" required autofocus>
    </div>
  
    <button class="edit-member-button" type="submit">Update Member</button>
  
  </form>
{% endblock content %}