{% extends 'base.html' %}
{% block content %}
<form action="/classes/{{ fitness_class.id }}/update" method="post">
    <h1>Edit Fitness Class</h1>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{ fitness_class.name }}" placeholder="Name" required autofocus>
    </div>
    <div>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="{{ fitness_class.type }}" placeholder="Type" required autofocus>
      </div>
      <div>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ fitness_class.date }}" placeholder="DD/MM/YYYY" required autofocus>
      </div>
      <div>
        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration" value="{{ fitness_class.duration }}" placeholder="Duration" required autofocus>
      </div>
  
    <button type="submit">Update Fitness Class</button>
  
  </form>
{% endblock content %}