{% extends 'base.html' %}

{% block content %}
<h1 class="fitness-classes">Fitness Classes</h1>

<table>
  <tr>
    <th></th>
  
  </tr>
  {% for fitness_class in fitness_classes %}
  <tr>
    <td class="list-classes"><a href="/classes/{{ fitness_class.id }}"> {{fitness_class.name}}</a> <a href="/classes/{{ fitness_class.id }}/edit"> <button>Edit</button> </a> <form action="/classes/{{fitness_class.id}}/delete" method="post"> <button>Remove</button> </form> </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}