{% extends 'base.html' %}

{% block content %}
<form action="/members" method="post">
    <h1 class="create-member">Create New Member</h1>
    <p class="create-member-info">Please fill out each section, to complete the 'New Member' form.</p>
    <div class="create-border">
    <label class="create-member-form-text" for="first_name"><b>First Name</b></label>
    <input class="create-member-form" type="text" placeholder="Enter First Name" name="first_name" id="first_name" required>

    <label class="create-member-form-text" for="last_name"><b>Last Name</b></label>
    <input class="create-member-form" type="text" placeholder="Enter Last Name" name="last_name" id="last_name" required>

    <label class="create-member-form-age" for="age"><b>Age</b></label>
    <input class="create-member-form" type="text" placeholder="Enter Age" name="age" id="age" required>
    </div>

    <button class="create-member-button" type="submit" class="registerbtn">Create New Member</button>
</form>

{% endblock %}