body {
    background-image: url(/static/images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hotbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(55, 55, 55);
    size: cover;
}

.hotbar li {
    float: left;
}

.hotbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;
}

.hotbar li a:hover {
    background-color: rgb(12, 131, 182);
}

.main-logo {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 160px;
    margin-left: 100px;
    margin-top: 130px;
    -webkit-text-stroke: 4px rgb(12, 131, 182);
    text-decoration: underline;
    text-decoration-color:rgb(12, 131, 182);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(55, 55, 55);
    size: cover;

    display: block;
    color: white;
    text-align: left;
    padding: 14px 23px;
    text-decoration: none;
  }

.quote {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 30px;
    opacity: 50%;
}

.members {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 360px;
    margin-bottom: 10px;
}

.members-name {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(12, 131, 182);
}

.list-members {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

.fitness-classes {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 260px;
    margin-bottom: 10px;
}
.create-member {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.create-classes {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.bookings {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 280px;
    margin-bottom: 10px;
}