body {
    background-image: url(/static/images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hotbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(55, 55, 55);
    size: cover;
}

.hotbar li {
    float: left;
}

.hotbar li a {
    font-family: 'Lato', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;
}

.hotbar li a:hover {
    background-color: rgb(12, 131, 182);
}

footer {
    font-family: 'Lato', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;

    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(55, 55, 55);
    size: cover;

    display: block;
    color: white;
    text-align: left;
    padding: 14px 23px;
    text-decoration: none;
}

/* Front Page */

.main-logo {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 160px;
    margin-left: 100px;
    margin-top: 130px;
    -webkit-text-stroke: 4px rgb(12, 131, 182);
    text-decoration: underline;
    text-decoration-color:rgb(12, 131, 182);
}

.quote {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 30px;
    opacity: 50%;
}

/* Members */

.members {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 360px;
    margin-bottom: 10px;
}

.list-members {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: inline-flex;
    flex-grow: 3;
    margin-left: 20px;
    margin-top: 10px;
}

.list-members a {
    text-decoration: none;
    color: rgb(55, 55, 55);
}

.list-members a:hover {
    color: white;
  }

.list-members button {
    font-size: 20px;
    border-radius: 8px;
    margin-left: 2px; 
    margin-bottom: 2px; 
}

.btn-remove:hover {
    box-shadow: 0 12px 16px 0 red, 0 17px 50px 0 red;
}
.btn-edit:hover {
    box-shadow: 0 12px 16px 0 yellow, 0 17px 50px 0 yellow;
}

.list-members-border {
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
    width: 38%;
    margin-left: 200px;
}

/* Fitness Classes */

.fitness-classes {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 260px;
    margin-bottom: 10px;
}

.list-classes {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: inline-flex;
    flex-grow: 3;
    margin-left: 20px;
    margin-top: 10px;
}

.list-classes a {
    text-decoration: none;
    color: rgb(55, 55, 55);
}

.list-classes a:hover {
    color: white;
  }

.list-classes button {
    font-size: 20px;
    border-radius: 8px;
    margin-left: 2px; 
    margin-bottom: 2px; 
}

.list-classes-border {
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
    width: 33%;
    margin-left: 300px;
}
/* Create Members */

.create-member {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.create-member-info {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 135px;
    margin-bottom: 40px;
}

.create-member-form {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.create-member-form-text {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 155px;
}

.create-member-form-age {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 210px;
}

.create-border {
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    margin-left: 240px;
}

.create-member-button {
    font-size: 40px;
    border-radius: 8px;
    margin-left: 330px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgb(12, 131, 182);
}

.create-member-button:hover {
    box-shadow: 0 12px 16px 0 green, 0 17px 50px 0 green;
}

/* Create Classes */

.create-classes {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.create-classes-info {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 140px;
    margin-bottom: 40px;
}

.create-classes-form {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.create-classes-form-text {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 205px;
}

.create-border-class {
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    margin-left: 240px;
}

.create-class-button {
    font-size: 40px;
    border-radius: 8px;
    margin-left: 355px;
    margin-top: 10px;

    box-shadow: 0 12px 16px 0 rgb(12, 131, 182, .8);
}

.create-class-button:hover {
    box-shadow: 0 12px 16px 0 green, 0 17px 50px 0 green;
}

/* Bookings */

.bookings {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 290px;
    margin-bottom: 10px;
}

.new-booking {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    display: inline-flex;
    flex-grow: 1;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.existing-booking {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 390px;
    text-shadow: 1px 1px rgb(12, 131, 182);
}

.booking-list {
    color: white;
    -webkit-text-stroke: 1px rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 190px;
    margin-top: 10px;
    
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
}

.cancel-button {
    float: right;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 10px;
}

.cancel-button:hover {
    box-shadow: 0 12px 16px 0 red, 0 17px 50px 0 red;
}

.booking-inline {
    display: flex;
    flex-direction: row;
}

/* edit member */

.edit-member {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 310px;
    margin-bottom: 10px;
}

.edit-member-form {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.edit-member-border {
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    margin-left: 285px;
}

.edit-member-button {
    font-size: 40px;
    border-radius: 8px;
    margin-left: 420px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgb(12, 131, 182);
}

.edit-member-button:hover {
    box-shadow: 0 12px 16px 0 green, 0 17px 50px 0 green;
}

.name-age {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.attending {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px rgb(12, 131, 182);
}

.show-attending {
    color: white;
    -webkit-text-stroke: 1px rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 100px;
    margin-top: 10px;
    
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
}

.type-date {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.member-attending {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px rgb(12, 131, 182);
}

.show-member-attending {
    color: white;
    -webkit-text-stroke: 1px rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 50px;
    margin-top: 10px;
    
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
}

/* edit class */

.edit-class {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-shadow: 3px 3px rgb(12, 131, 182);
    margin-top: 50px;
    margin-left: 230px;
    margin-bottom: 10px;
}

.edit-class-form {
    color: rgb(55, 55, 55);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.edit-class-border {
    background-color: rgb(12, 131, 182, .8);
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    margin-left: 285px;
}

.edit-class-button {
    font-size: 40px;
    border-radius: 8px;
    margin-left: 370px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgb(12, 131, 182);
}

.edit-class-button:hover {
    box-shadow: 0 12px 16px 0 green, 0 17px 50px 0 green;
}