<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Horizon Gym</title>
</head>
<body>
    <main>
        <nav>
          <ul class="hotbar">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/members">Members</a>
            </li>
            <li>
                <a href="/classes">Classes</a>
            </li>
            <li>
                <a href="/bookings">Bookings</a>
            </li>
            <li>
                <a href="/members/create">Create Member</a>
            </li>
            <li>
                <a href="/classes/create">Create Classes</a>
            </li>
          </ul>
        </nav>
        <section>
            {% block content %}
      
            {% endblock%}
        </section>
        </main>
</body>
    <footer>
        &copy;HorizonGym2021
    </footer>
</html>