{% extends 'base.html' %}

{% block content %}
<form action="/classes" method="post">
    <h1>Create New Fitness Class</h1>
    <p>Please fill out each section, to complete the 'New Fitness Class' form.</p>
    <hr>
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" required>

    <label for="type"><b>Type</b></label>
    <input type="text" placeholder="Enter Type" name="type" id="type" required>

    <label for="date"><b>Date</b></label>
    <input type="text" placeholder="DD/MM/YYYY" name="date" id="date" required>

    <label for="duration"><b>Duration</b></label>
    <input type="text" placeholder="Enter Duration" name="duration" id="duration" required>
    <hr>

    <button type="submit" class="registerbtn">Create New Class</button>
</form>

{% endblock %}